.title {
    position: relative;
    left: 100px;
    height: 50px;
    width: 360px;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    background-color: gray;
}

.grid-container {
  position: relative;
  left: 96px;
  padding: 10px;
  grid-gap: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  height: 20px;
  width: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color:  white;
  font-size: 25px;
}

label {
    font-size: xx-large;
    font-family: sans-serif;
    display: inline-block;
}

input {
    font-size: xx-large;
}

button {
    font-size: xx-large;
}