<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wordish</title>
        <link rel="stylesheet" href="../static/wordish.css">
    </head>

    <body>
        <div class="title" id="message">
            {{ message }}
        </div>

        </br>

        <form action="start_action" method="POST">
            <label class="label"> New Target: </label>
            <input class="input" id="target_text" type="text" name="target_text">
            <button class="button" id="start_button" type="submit">Start</button>
            {% csrf_token %}
        </form> 
    </body>
</html>