<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wordish</title>
        <link rel="stylesheet" href="../static/wordish.css">
    </head>

    <body>
        <div class="title" id="status">
            {{ message }}
        </div>

        <div class="grid-container">
            {% for row in matrix %}
                {% for cell in row %}
                    <div class="grid-item" id="{{ cell.id }}" style="background-color: {{ cell.color }}"> {{ cell.letter }} </div>
                {% endfor %}
            {% endfor %}    
        </div>

        <form action="guess_action" method="POST">
            <label class="label"> Guess: </label>
            <input class="input" id="guess_text" type="text" name="guess_text">
            <button class="button" id="guess_button" type="submit">Submit</button>
            <input type="hidden" name="target"  value="{{ target }}">
            <input type="hidden" name="guesses"  value="{{ old_guesses }}">
            {% csrf_token %}
        </div> 
    </body>
</html>